@model API.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Login</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        @Html.AntiForgeryToken()
                        <div class="mb-1">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input asp-for="Username" class="form-control" placeholder="Enter username" autofocus />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-1">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Enter password"
                                autocomplete="off" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>